<section class="container list">
  <h1 class="title">
    <!-- {{- if eq .Kind "taxonomy" -}}
      {{- i18n .Data.Singular | title -}}
      {{- print ": " -}}
    {{- end -}}

    {{- .Title -}} -->
  </h1>
  {{ .Content }}
  <ul>
    {{ range .Paginator.Pages }}
    <ul align="justify">
        
        <p>Carreira desenvolvida no campo da tecnologia da informação e engenharia de software, com ênfase nas práticas de SRE e DevOps.</p>
        <p>Gerenciamento e implementação de serviços e sistemas de informação seguindo as práticas SRE e a cultura DevOps buscando performance, automação, estabilidade, resiliência, escalabilidade e segurança.</p>
        <p>Forte atuação no gerenciamento, implementação e monitoramento de serviços e sistemas de computação Linux, fornecendo gerenciamento de configuração, 
        gerenciamento de aplicações containerizadas, service mesh, integração e entrega contínua, repositório de pacotes, web services, proxy, firewall, roteamento, balanceamento de carga, 
        banco de dados, sistemas de backup e sistemas de monitoramento e métricas.</p>
        <p>Experiência em gerenciamento de ambientes virtualizados, aplicações em container, cloud computing, gerenciamento de configurações e automação de serviços, monitoramento e métricas.</p>
        <p>Experiência com infraestrutura de chave pública e certificados ICP-Brasil.</p>
    </ul>
    <li>
      <!-- <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span> -->
      <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
